extends ../index
block content
  #archeeve
    div#hero
      div#hero-shade
        img#logo(src='/assets/logo.png')
        img#logo2(src='/assets/one-page-love-award-right.png')
        div#hero-content
          div#head: p THE MOST USEFUL APP TO ORGANIZE YOUR BOOKMARKS
          div#os
              div: p GET IT FOR MAC
              div: P GET IT FOR WINDOWS
          div: img#arche(src='/assets/app.png')
      div#features
        div#features-content
          div#head2: p FEATURES
          div.tiles1
            div 
              i.fa.fa-search.fa-3x
            div: p SEARCH
            p Search bookmarks by title or discription
          div.tiles1 
            div 
              i.fa.fa-folder-open-o.fa-3x
            div: p ORGANIZE
            p Organize bookmarks with collercions and tags
          div.tiles1
            div 
              i.fa.fa-star-o.fa-3x
            div: p FAVORITES
            p Find favorites bookmarks with ease
          div.tiles1
            div 
              i.fa.fa-list.fa-3x
            div: p GRID/LIST
            p Switch between grid or list view
          div.tiles1
            div 
              i.fa.fa-area-chart.fa-3x
            div: p SCREENSHOTS
            p Archeeve automaticlly generates screenshots of each bookmark
          div.tiles1
            div 
              i.fa.fa-user-plus.fa-3x
            div: p MULTILINGUAL
            p Archeeve speaks in your language*
          div.tiles1
            div 
              i.fa.fa-refresh.fa-3x
            div: p SYNC
            p Sync your bookmarks with pocket
          div.tiles1
            div 
              i.fa.fa-arrows-h.fa-3x
            div: p IMPORT/EXPORT
            p Import/Export of bookmark files            
          div#lang 
            P * English, Polish, German, Spanish, Portuguese, Turkish, Dutch, French
      div#screenshots
        div#screenshots-content
          div#head3: p SCREENSHOTS
            div
              img.tiles2(src="/assets/archeeve1.png")
              img.tiles2(src="/assets/archeeve2.png")
              img.tiles2(src="/assets/archeeve3.png")  
              img.tiles2(src="/assets/archeeve3.png")
              img.tiles2(src="/assets/archeeve4.png")
              img.tiles2(src="/assets/archeeve5.png")
              img.tiles2(src="/assets/archeeve6.png")
              img.tiles2(src="/assets/archeeve7.png")
              img.tiles2(src="/assets/archeeve8.png")
      div#buy
        div#buy-content
          div#get: p GET THE APP NOW FOR $4.99!
          div#brag: p Every transaction on Selz happens through an encripted HTTP Secure connection.
          div#alt
            div#mac: p ARCHEEVE MAC OSX (1.0.5)
            div#win: p ARCHEEVE WINDOWS
