extends ../index
block content
  #rumble-labs
    div#all
      div#bar
        p ABOUT US   /   PROJECTS   /   BLOG
        div#work: P Work with us >
        div#logo: img(src='/assets/knuckles.png')
      div
        div#hero
          div#hero-content
            div#hero-brag
              div#hello: p HELLO WE'RE RUMBLE LABS
              div#experts: p Experts in
              div#brag: p App development, design and stategy for the web, iOS and Mac.
            div#hero-button: p LEARN MORE >
        div#vid
          div#vid-content
            div#video
                iframe(src="//player.vimeo.com/video/119068482" width="1536px" height="864px" frameborder="0")
