extends ../index
block content
  #rumble-labs
    div#all
      div#bar
        p ABOUT US   /   PROJECTS   /   BLOG
        div#work: P Work with us >
        div#logo: img(src='/assets/knuckles.png')
      div
        div#hero
          div#hero-content
            div#hero-brag
              div#hello: p HELLO WE'RE RUMBLE LABS
              div#experts: p Experts in
              div#brag: p App development, design and stategy for the web, iOS and Mac.
            div#hero-button: p LEARN MORE >
        div#vid
          div#vid-content
            div#video
                iframe(src="//player.vimeo.com/video/119068482" width="1536px" height="864px" frameborder="0")
        div#about
          div#about-content
            div#spacer
            div#us: p ABOUT US
            div#rum: p We work the Rumble way
        div#icons
          div#icons-content
            div.tiles1
              div: img.himg(src="/assets/home-culture.jpg")
              div.h1: p Great Culture
              div.h2: p Collaborative, open and fun! Our culture maximizes happiness to the benifit of productivity and creativity.
              div.h3: a(href="Rumble-labs.html") Get to Know us better
            div.tiles1
              div: img.himg(src="/assets/home-process.jpg")
              div.h1: p Proven Process
              div.h2: p We practice Agile Design and development, taking the time to understand requirements and deliver on them.
              div.h3: a(href="rumble-labs.html") See where we've applied this
        div#spacer2
        div#services
          div: p SERVICES
          div#val: p Our vauluable expertise lies in:
        div#spacer3
        div#products
          div#products-content
            div.pro
              div: img.proimg(src="/assets/simon-whiteboarding.jpg")
              div.proh1: p Product Strategy
              div.proh2: p By taking the time to understand your product
            div.pro
              div: img.proimg(src="/assets/about-app-development.jpg")
              div.proh1: p Web App Development
              div.proh2
            div.pro
              div: img.proimg(src="/assets/niall-mac-app-planning-1.jpg")
              div.proh1: p iOS / Mac Development
              div.proh2
            div.pro
              div: img.proimg(src="/assets/about-responsive-design.jpg")
              div.proh1: p Responsive Web Design
              div.proh2
          
