extends ../index
block content
  #rumble-labs
    div#all
      div#bar
        p ABOUT US   /   PROJECTS   /   BLOG
        div#work: P Work with us >
        div#logo: img(src='/assets/knuckles.png')
      div
        div#hero
          div#hero-content
            div#hero-brag
              div#hello: p HELLO, WE'RE RUMBLE LABS
              div#experts: p Experts in
              div#brag: p App development, design and stategy for the web, iOS and Mac.
            div#hero-button: p LEARN MORE >
        div#vid
          div#vid-content
            div#video
                iframe(src="//player.vimeo.com/video/119068482" width="1536px" height="864px" frameborder="0")
        div#about
          div#about-content
            div#spacer
            div#us: p ABOUT US
            div#rum: p We work the Rumble way
        div#icons
          div#icons-content
            div.tiles1
              div: img.himg(src="/assets/home-culture.jpg")
              div.h1: p Great Culture
              div.h2: p Collaborative, open and fun! Our culture maximizes happiness to the benifit of productivity and creativity.
              div.h3: a(href="Rumble-labs.html") Get to Know us better
            div.tiles1
              div: img.himg(src="/assets/home-process.jpg")
              div.h1: p Proven Process
              div.h2: p We practice Agile Design and development, taking the time to understand requirements and deliver on them.
              div.h3: a(href="rumble-labs.html") See where we've applied this
        div#spacer2
        div#services
          div: p SERVICES
          div#val: p Our vauluable expertise lies in:
        div#spacer3
        div#products
          div#products-content
            div.pro
              div: img.proimg(src="/assets/simon-whiteboarding.jpg")
              div.proh1: p Product Strategy
              div.proh2: p By taking the time to understand your product from a business, technical and creative standpoint we develope strategies to fit the needs of each project.
            div.pro
              div: img.proimg(src="/assets/about-app-development.jpg")
              div.proh1: p Web App Development
              div.proh2: p We ceate highly functional applications for the web with modern technologies and open-source tools and using an iteratative, agile methodology.
            div.pro
              div: img.proimg(src="/assets/niall-mac-app-planning-1.jpg")
              div.proh1: p iOS / Mac Development
              div.proh2: p We have experience building, designing and launching software to the App store for Appledevices (iPhones, iPads, Macs etc), often with web componets.
            div.pro
              div: img.proimg(src="/assets/about-responsive-design.jpg")
              div.proh1: p Responsive Web Design
              div.proh2: p At Rumble we design flexable, tailored front-ends that are optimised for all devices ensuring the best experience for every potential user scenario.
        div#spacer4
          div#scr
        div#spacer5
        div#header: p Each of our products involve the following:
        div#lists
          div.ls
            div.lshead: p Planning
            div.lsmain: p A well thought out project plan is fundemental to a projects success.
            div.ls1: p Project peccing
            div.ls2: p Research (user, Product, Technical)
            div.ls3: p Information architecture
            div.ls4: p Userflow analysis
            div.ls5: p Content strategy
          div.ls
            div.lshead: p Design
            div.lsmain: p An iteratative process always geared towards fufilling a users needs.
            div.ls1: p Prototyping/Wireframing
            div.ls2: p User-centric design
            div.ls3: p Interface design
            div.ls4: p Branding
            div.ls5: p Data visualisation
          div.ls
            div.lshead: p Development
            div.lsmain: p Software engeneered with Ruby, Rails, Javascript and Objective-C.
            div.ls1: p Front-end dev (HTML5, CSS3)
            div.ls2: p API intgration
            div.ls3: p Testing (Usability, Code)
            div.ls4: p Technical consulting
            div.ls5: p Content management systems
          div.ls
            div.lshead: p Growth
            div.lsmain: p Management, support and tracking for your project over it's lifespan.
            div.ls1: p Training
            div.ls2: p Socail media engagement
            div.ls3: p Operations and deployments
            div.ls4: p Hosting and support
            div.ls5: p Analytics
        div#learn 
          div#learn-content: p LEARN ABOUT OUR PROJECTS
