@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
#archeeve {
  #hero {
   background-image: url("/assets/background2.jpg");
   background-size: cover;
   position:relative;
   background-color: rgba(5, 5, 5, 0.8);
  }
  #logo {
    position: fixed;
    left: 20px;
    top: 100px;
    height: 40px;
    width: 40px;
  }
  #logo2 {
    position: fixed;
    right: 20px;

  }
  #hero-content {
    position: relative;
    margin: 0 auto;
    width: 66%;
    overflow: hidden;
    font-family: open Sans;
  }
  #hero-content div {
    position: relative;
    margin: 0 auto;
  }
 #os > div {
    display: inline-block;
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin-left:10px;
    position: relative;
    margin: 0 auto;
  }
  #os > div p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    color: white;
  }
  #head {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    padding-top: 100px;
    position: relative;
    margin: 0 auto;
  }
  #arche {
    transform: translateY(100px);
  }
  #arche:hover {
    transform: translateY(5px);
  }
  #features {
    background-color: #272a30;
  }
  #head2 > p {
    margin: 0;
    color: white;
    padding-top: 100px;
    font-size: 30px;
  }
  #features {
    position: relative;
    text-align: center;
    font-family: open Sans;
  }
  #features-content {
    position: relative;
    margin: 0 auto;
    width: 66%;
    overflow: hidden;
    min-height: 500px;
    text-align: center;
  }
  .tiles1 {
    text-align: center;
    overflow: hidden;
    width: 200px;
    color: white;
    background-color: transparent;
    margin: 30px;
    display:inline-block;
  }
  .tiles1 > p {
    font-size: 12px;
  }
  #lang {
    color: white;
    padding-bottom: 50px;
  }
}
